/* Fancy underline class */
.fancy-underline {
  position: relative;
  overflow: hidden;
}

.fancy-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 2px; /* Adjust the height of the underline */
  background: linear-gradient(to right, #ff6b6b, #feca57); /* Gradient color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  border-radius: 1px; /* Adjust the curve of the underline here */
}

.fancy-underline:hover::after {
  transform: scaleX(1); /* Expand the underline on hover */
}